* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: #f4f7f6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* NAVBAR */

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 32px;
    color: #5b3df5;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-box {
    background: #6a38ff;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.signup-btn {
    background: #6a38ff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
}


/* HERO SECTION */

.hero {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-text span {
    color: #6a38ff
}

.hero-text p {
    color: #555;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 35px;
}

form {
    display: flex;
    width: 500px;
    max-width: 100%;
    border: 2px solid #ddd;
    border-radius: 40px;
    overflow: hidden;
}

form input {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    border: none;
    outline: none;
}

form button {
    background: #6a38ff;
    color: white;
    border: none;
    padding: 18px 35px;
    cursor: pointer;
    font-size: 18px;
}

.trusted {
    margin: 60px;
}

.trusted img {
    width: 350px;
    opacity: 0.5;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    max-width: 650px;
}


/* FEATURES SECTION */

.features {
    width: 90%;
    margin: 70px auto;
    text-align: center;
}

.feature-container {
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.feature-card {
    width: 30%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    text-align: left;
}

.features h4 {
    color: #5b3df5;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.features h2 {
    font-size: 60px;
    margin-bottom: 25px;
}

.features h2 span {
    color: #5b3df5;
}

.features-text {
    width: 700px;
    max-width: 100%;
    margin: auto;
    color: #777;
    line-height: 1.8;
    font-size: 20px;
}

.text h3 {
    font-size: 32px;
    margin-bottom: 15px;
}

.text p {
    color: #777;
    line-height: 1.8;
    font-size: 15px;
}

.icon-circle {
    width: 70px;
    height: 70px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.feature-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}


/* QUALITY */

.quality {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.quality-text {
    flex: 1;
    max-width: 520px;
}

.quality-text h2 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.quality-text h4 {
        color: rgb(134, 35, 134);
    }

.quality-text span {
    color: #5b3df5;
}

.quality-text p {
    color: #777;
    font-size: 16px;
    max-width: 500px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.quality-image {
    display: flex;
    justify-content: center;
}

.quality-image img{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}

.learn-btn {
    background: #5b3df5;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 35px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.learn-btn:hover {
    background: #4524e6;
}


/* STEPS */

.steps {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.steps-image {
    flex: 1;
}

.steps-image img {
    width: 100%;
    max-width: 800px;
}

.steps-text {
    flex: 1;
    max-width: 430px;
}

.steps-text h4 {
    color: #5b3df5;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.steps-text h2 {
    font-size: 48px;
    margin-bottom: 50px;
    line-height: 1.2;
}

.steps-text span {
    color: #5b3df5;
}

.step {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 45px;
}

.number {
    color: #d1d5db;
    font-size: 36px;
    font-weight: bold;
    min-width: 60px;
}

.step-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.step-info p {
    color: #777;
    line-height: 1.5;
    font-size: 17px;
}

.two-column {
    width: 90%;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}


/* PRICING */

.pricing {
    margin-top: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pricing-section {
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
    text-align: center;
}

.pricing-section h4 {
    color: #5b3df5;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.pricing-section h2 {
    font-size: 55px;
    margin-bottom: 20px;
}

.pricing-section span {
    color: #5b3df5;
}

.pricing-text {
    width: 700px;
    max-width: 100%;
    margin: auto;
    color: #777;
    line-height: 1.8;
    font-size: 20px;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    width: 320px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.top-line {
    height: 8px;
}

.green {
    background: #4fd1c5;
}

.red {
    background: #f56565;
}

.price-header {
    padding: 40px 20px;
}

.price-header h3 {
    margin-bottom: 20px;
}

.price-header h1 {
    font-size: 58px;
    margin-bottom: 15px;
}

.price-header h5 {
    color: #888;
    letter-spacing: 2px;
}

.price-body {
    border-top: 1px solid #eee;
    border-radius: 1px solid #eee;
}

.price-body h4 {
    margin-bottom: 25px;
}

.price-body p {
    margin: 18px 0;
    color: #666;
}

.personal,
.enterprise {
    color: #1a202c;
}

.personal .price-header h1,
.enterprise .price-header h1 {
    color: #1a202c;
}

.personal .price-header h3,
.enterprise .price-header h3 {
    color: #1a202c;
}

.personal .price-header h5,
.enterprise .price-header h5 {
    color: #718096;
}

.green-btn,
.red-btn,
.white-btn {
    margin: 35px auto;
    width: 190px;
    height: 55px;
    border: none;
    border-radius: 35px;
    font-weight: bold;
    cursor: pointer;
}

.green-btn {
    background-color: #4fd1c5;
    color: white;
}

.red-btn {
    background-color: #f56565;
    color: white;
}

.business {
    background: linear-gradient(135deg, #5b3df5, #667eea);
    color: white;
}

.business .price-body {
    border-color: rgba(255, 255, 255, .25);
}

.business .price-body p {
    color: white;
}

.business .price-header h5 {
    color: white;
}

.white-btn {
    background: white;
    color: #5b3df5;
}


/* VALUES */

.values {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.values-text {
    flex: 1;
    max-width: 500px;
}

.values-text h4 {
    color: #5b3df5;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.values-text h2 {
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.values-text span {
    color: #5b3df5;
}

.values-text p {
    color: #777;
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 40px;
}

.values-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.values-image img {
    width: 100%;
    max-width: 620px;
}

/* two feature boxes */

.value-container {
    display: flex;
    gap: 40px;
    margin-bottom: 45px;
}

.value-box {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.value-icon {
    width: 48px;
    height: 48px;
}

.value-box h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.value-box p {
    font-size: 15px;
    line-height: 1.7;
    color: #777;
}


/* TESTIMONIALS */

.testimonials {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.testimonial-text {
    flex: 1;
    max-width: 560px;
}

.testimonial-text h2 {
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.testimonial-text h4 {
    color: #5b3df5;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.testimonial-text span {
    color: #5b3df5;
}

.testimonial-intro {
    color: #777;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.stars {
    color: #f4b400;
    font-size: 28px;
    letter-spacing: 5px;
}

.testimonial-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.review {
    color: #777;
    line-height: 1.8;
    margin-bottom: 40px;
}

.client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.client-info {
    display: flex;
    align-items: center;
    gap: 18px;
}

.client-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.client-info h4 {
    color: black;
    letter-spacing: 0;
    margin-bottom: 5px;
    font-size: 22px;
}

.client-info p {
    color: #777;
    margin: 0;
}

.arrows {
    display: flex;
    gap: 15px;
}

.arrows button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #f2f2f2;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.arrows button:hover {
    background: #5b3df5;
    color: white;
}

.testimonial-image {
    display: flex;
    justify-content: center;
}

.testimonial-image img{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}


/* FAQ */

.faq {
    width: 90%;
    max-width: 1000px;
    margin: 70px auto;
    text-align: center;
}

.faq h4 {
    color: #5b3df5;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.faq h2 {
    font-size: 55px;
    margin-bottom: 20px;
}

.faq h2 span {
    color: #5b3df5;
}

.faq-text {
    width: 650px;
    max-width: 100%;
    margin: 0 auto 60px;
    color: #777;
    font-size: 20px;
    line-height: 1.8;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-box {
    background: #c5cdd4;
    border-radius: 8px;
    padding: 25px 35px;
    text-align: left;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-header h3 {
    font-size: 18px;
}

.faq-container span {
    font-size: 22px;
    font-weight: bold;
}

.faq-box p {
    margin-top: 25px;
    color: #666;
    line-height: 1.8;
    font-size: 17px;
}


/* CTA */

.cta {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto 80px;
    border-radius: 12px;
    padding: 70px 60px;
    background: #5b3df5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    z-index: 2;
}

.cta-text {
    width: 50%;
}

.cta-text h2 {
    color: white;
    font-size: 42px;
    line-height: 1.4;
}

.cta-buttons {
    display: flex;
    gap: 25px;
}

.cta-red,
.cta-white {
    padding: 18px 40px;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.cta-red {
    background: #f56565;
    color: white;
    border: none;
}

.cta-white {
    background: transparent;
    color: white;
    border: 2px solid white;
}


/* FOOTER */

.footer {
    width: 100%;
    background: #5b3df5;
    padding: 80px 60px 30px;
    color: white;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h4 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    margin-bottom: 12px;
    transition: .3s;
}

.footer-column a:hover {
    opacity: .7;
}

.footer hr {
    margin: 80px 0;
    border: 1px solid rgba(255, 255, 255, .2);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.footer-logo .logo-box {
    background: white;
    color: #5b3df5;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    color: #5b3df5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}


/* RESPONSIVE */

@media (max-width: 760px) {
    .navbar {
        position: relative;
        padding: 0 40px;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 75px;
        right: 20px;
        width: 220px;
        background: white;
        flex-direction: column;
        text-align: center;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
        padding: 20px; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        z-index: 1000;
    }

    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        order: 2;
    }

    .hero-image {
        order: 1;
    }

    .form {
        width: 100%;
    }

    .feature-container {
        justify-content: center;
    }

    .feature-card {
        width: 100%;
    }

    .quality {
        flex-direction: column;
        text-align: center;
    }

    .quality-text {
        max-width: 100%;
    }

    .quality-image {
        max-width: 100%;
    }

    .steps {
        flex-direction: column;
        text-align: center;
    }

    .step {
        flex-direction: column;
        align-items: center;
    }

    .pricing {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        width: 100%;
        max-width: 400px;
    }

    .values {
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
        gap: 30px;
    }

    .values-text {
        width: 100%;
        max-width: 100%;
    }

    .values-text h2 {
        font-size: 36px;
    }

    .values-text p {
        font-size: 16px;
    }

    .values-image img {
        max-width: 350px;
    }

    .values-items {
        justify-content: center;
    }

    .testimonial {
        flex-direction: column;
        text-align: center;
    }

    .client-info {
        justify-content: center;
    }

    .FAQ h2 {
        font-size: 40px;
    }

    .faq-box {
        padding: 20px;
    }

    .faq-header h3 {
        font-size: 20px;
    }

    .cta {
        flex-direction: column;
        text-align: center;
    }

    .cta-text {
        width: 100%;
    }

    .cta-buttons {
        flex-direction: column;
        width: 100%;
    }

    .cta-red,
    .cta-white {
        width: 100%;
    }

    .footer-links {
        justify-content: center;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .hero-image img,
    .quality-image img,
    .steps-image img,
    .values-image img,
    .testimonial-image img {
        max-width: 350px;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 36px;
    }

    .features h2,
    .quality h2,
    .steps h2,
    .values h2,
    .testimonial h2,
    .pricing-section h2,
    .faw h2 {
        font-size: 32px;
    }

    .hero-text p,
    .features-text,
    .pricing-text,
    .faq-text,
    .values-text {
        font-size: 16px;
    }

    form input {
        padding: 15px;
        font-size: 16px;
    }

    form button {
        padding: 15px 20px;
    }

    .step-info h3 {
        font-size: 20px;
    }

    .pricing-card {
        width: 100%;
    }

    .values {
        padding: 0 15px;
    }

    .footer {
        padding: 120px 25px 40px;
    }

    .hero-image img,
    .quality-image img,
    .steps-image img,
    .values-image img,
    .testimonial-image img {
        max-width: 350px;
    }
}

@media(max-width: 900px) {
    .features h2 {
        font-size:40px;
    }

    .feature-text {
        font-size: 18px;
    }

    .feature-card {
        justify-content: center;
    }

    .quality {
        flex-direction: column;
        text-align: center;
    }

    .quality-text h2 {
        font-size: 42px;
    }

    .steps {
        flex-direction: column;
        text-align: center;
    }

    .step {
        justify-content: center;
    }

    .steps-text h2 {
        font-size: 40px;
    }
}

@media(max-width: 1100px) {
    .pricing {
        justify-content: center;
    }

    .pricing-card {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
    }

    .hero,
    .quality,
    .steps,
    .values,
    .testimonial,
    .cta {
        gap: 40px
    }

    .pricing-card {
        width: 320px;
    }
}